
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_LayoutMoney.cshtml";
}

@using Models;
@model List<Personnel>
@{
    List<Personnel> psl = ViewBag.personnellist;
    List<Shop> shop = ViewBag.shoplist;
    List<Ranks> rank = ViewBag.ranklist;
    List<GetPrize> gpe = ViewBag.getprizelist;
    List<Attendance> atd = ViewBag.attendancelist;
    List<Subsidynotes> ssn = ViewBag.subsidynoteslist;
    double a = 0;
    int b = 0;
    int c = 0;
    double d = 0;
    double e = 0;
}
<!DOCTYPE html>

<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Default</title>
    @Scripts.Render("~/bundles/jquery")
    @Scripts.Render("~/bundles/bootstrap")
    @Scripts.Render("~/Content/css")
</head>
<body>
    <div>
        <button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#DeriveMoney">导出工资表</button>
        <a class="btn btn-primary btn-lg" href="/Produces/Genxin">更新</a>
        @*<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#AddPay">新增</button>*@
        <div>
            <form method="post" action="" class="form-inline">
                <label for="Name">姓名:</label>
                <input type="text" name="Name" id="Name" value="@ViewBag.Name" class="form-control" />
                <input type="submit" value="查询" class="btn btn-primary" />
            </form>
        </div>
        <table class="table table-bordered">
            <tr>
                <th>员工姓名</th>
                <th>店铺名称</th>
                <th>等级</th>
                @*<th>工资年月</th>*@
                <th>基本工资</th>
                <th>考勤扣款</th>
                <th>补贴总金额</th>
                <th>奖金金额</th>
                <th>应发工资</th>
                <th>实发工资总额</th>
                @*<th>备注</th>*@
            </tr>
            @foreach (var item in Model)
            {
                <tr>
                    <td>@item.Name</td>
                    @foreach (var item1 in shop.Where(p => p.ID == item.ShopID))
                    {
                        <td>@item1.ShopName</td>
                    }@foreach (var item1 in rank.Where(p => p.ID == item.RankID))
                    {
                        <td>@item1.RankName</td>
                        <td>@item1.Basepay</td>
                    }
                    @foreach (var item1 in atd.Where(p => p.PersonnelID == item.ID))
                    {
                        b -= int.Parse(item1.AttendanceSet.PayDeduction.ToString()) * int.Parse(item1.Counts.ToString());
                        if (item1.PersonnelID == 0)
                        {
                            b += 80;
                        }
                    }
                    <td>@b</td>

                    @foreach (var item1 in ssn.Where(p => p.PersonnelID == item.ID))
                    {
                        c += int.Parse(item1.SubsidyDefault.ToString());
                    }
                    <td>@c</td>

                    @foreach (var item1 in gpe.Where(p => p.PersonnelID == item.ID))
                    {
                        a += double.Parse(item1.Moneys.ToString());
                    }
                    <td>@a</td>
                    @foreach (var item1 in rank.Where(p => p.ID == item.RankID))
                    {
                        d += double.Parse((item1.Basepay + a + c).ToString());
                    }
                    <td>@d</td>
                    @foreach (var item1 in rank.Where(p => p.ID == item.RankID))
                    {
                        e += double.Parse((item1.Basepay + a + c + b).ToString());
                    }
                    <td>@e</td>
                    @{a = 0;}
                    @{b = 0;}
                    @{c = 0;}
                    @{d = 0;}
                    @{e = 0;}
                    @*<td>*@

                        @*<button class="btn btn-primary btn-lg" data-toggle="modal" data-target="#BossRemarks">给予评价</button>*@
                        @*<a href="/Personnel/Edit/@item.ID" class="btn btn-link">编辑</a>*@
                        @*<a href="/GetPrize/Delete/@item.ID" class="btn btn-link" onclick="return confirm('你确定要删除  这个员工嘛！')">删除</a>*@
                    @*</td>*@
                </tr>

            }
        </table>
    </div>
</body>
</html>

<!-- 模态框（Modal）添加 -->
<div class="modal fade" id="DeriveMoney" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">导出工资表</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <form action="/Produces/Add" method="post" id="AddPay">

                <input type="hidden" name="States" id="States" />
                @*<label>密码</label>
                    <input type="text" name="Pwd" id="Pwd" />*@
                <div class="form-group">
                    <label class="control-label col-md-2" for="PayDate">结算时间</label>
                    <div class="col-md-10">
                        <input class="form-control text-box single-line" id="PayDate" name="PayDate" type="text" value="@ViewBag.jsq" />
                    </div>
                </div>

            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="Addsubmit">添加</button>
            </div>
        </div>
    </div>
</div>

<!-- 模态框（Modal）添加 -->
<div class="modal fade" id="BossRemarks" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <h4 class="modal-title" id="myModalLabel">评价</h4>
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">&times;</button>
            </div>
            <form action="/Produces/AddRemarks" method="post" id="AddPJ">

                <div class="form-group">
                    <label class="control-label col-md-2" for="Remarks">给予评价</label>
                    <div class="col-md-10">
                        <input class="form-control text-box single-line" id="Remarks" name="Remarks" type="text" />
                    </div>
                </div>

            </form>
            <div class="modal-footer">
                <button type="button" class="btn btn-default" data-dismiss="modal">关闭</button>
                <button type="button" class="btn btn-primary" id="Addsubmits">添加</button>
            </div>
        </div>
    </div>
</div>
@section scripts{
    <script>
        //添加
        $("#Addsubmit").click(function () {
            $("#AddPay").submit();
        })
        $("#Addsubmits").click(function () {
            $("#AddPJ").submit();
        })
    </script>
}